# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAENFM7XawnBq0XARvkIHW5jJKIZ9vvtec
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=am-tycoon.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=am-tycoon
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=am-tycoon.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=981767624612
NEXT_PUBLIC_FIREBASE_APP_ID=1:981767624612:web:ce769d107421f85f14d331
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-FE3VZTMCPR

# Admin Configuration
NEXT_PUBLIC_ADMIN_EMAILS=admin@amtycoons.com,mrayanasim09@gmail.com
ADMIN_EMAILS=admin@amtycoons.com,mrayanasim09@gmail.com

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=doifsytuh
CLOUDINARY_API_KEY=643763252348165
CLOUDINARY_API_SECRET=WVB1AscpBsFl8L0VHMdoykC_S6s

# Security
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

# Optional: Google Analytics
NEXT_PUBLIC_GA_ID=your_google_analytics_id 